@import './_base.css';
@import './_layout.css';

/* CSS 스타일 분기(조건 처리) */

/* .no-js body {
    background-color: darkred;
    color: white;
}

.js body {
    background-color: white;
    color: darkred;
} */